
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.container-admin {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex-grow: 1;
  ul {
    list-style: none;
  }
}

.content {
  flex-grow:2;
}
